body, html {
  font-family: 'lato', sans-serif;
  font-size: 18px;
}

.layout {
  margin: 0 auto;
  max-width: 1000px;
}

.intro {
  margin-top: 50px;
}
.intro > p {
  width: 50%;
}

span {
  color: #1B28DD;
}
